.card_container {
        width: 300px;
        overflow: hidden;
        box-shadow: 0px 0px 25px -5px;
        transition: 0.3s;
        animation: ease-in;
   
}
.card_container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
    
}
.imagem-container img{
    overflow: hidden;
    height: 200px;

}
.card_content{
        margin: 1rem;
        margin-top: 0.3rem;
}
h3,p{
    margin: 0.5rem;
    padding: 0;
}
.card-title{
    margin-bottom: 0.5rem;
}
.btn{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}


