.produto {
    display: flex ;
    flex-direction: row;
    /* justify-content: space-between; */
}

.produto--info {
 display: flex;
 flex-direction: row;
}
.produto--info--imagem{
    width: 50%;
    height: 50%;
}
/* .produto--info--p {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 0 0 5px;
} */