.fundo{
    background-color: rebeccapurple;
    color: black;
    
}

.produto{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 40px;
}
.produto_imagem{
    height: 40%;
    width: 40%;
}
.soma{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 30px ;
}